.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: rgb(59, 152, 105);
    color: white;
}

.fa-twitter {
    background: rgb(238, 85, 136);
    color: rgba(255, 255, 255, 0.356);
}

.fa-google {
    background: #dd4b39;
    color: rgb(255, 255, 255);
}

.fa-linkedin {
    background: #007bb5;
    color: rgb(255, 255, 255);
}

.fa-youtube {
    background: #bb0000;
    color: rgba(255, 255, 255, 0.486);
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: rgb(255, 255, 255);
}

.fa-snapchat-ghost {
    background: #00ff2298;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #0018f000;
    color: rgb(255, 255, 255);
}

.fa-android {
    background: #a4c639;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-vimeo {
    background: #45bbff;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-vine {
    background: #00b489;
    color: white;
}

.fa-foursquare {
    background: #45bbff;
    color: white;
}

.fa-stumbleupon {
    background: #eb4924;
    color: white;
}

.fa-flickr {
    background: #f40083;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa-soundcloud {
    background: #ff5500;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}
