{{> header}}
{{> navbar}}
<p>Goya</p>
<img src="/https://img.culturacolectiva.com/cdn-cgi/image/f=auto,w=1600,q=80,fit=contain/content_image/2019/10/14/1571096552267-las-aterradoras-pinturas-negras-de-goya.001.jpeg">
{{> footer}}
